/Automatic_Summarization/nbproject/private/
/Automatic_Summarization/build/
/Automatic_Summarization_Maven/target/
/ROUGE
/Automatic_Summarization_Maven/extractSummary.txt
/Automatic_Summarization_Maven/AbstractSummary.txt
/Automatic_Summarization_Maven/bothMethodsSummary.txt
/Automatic_Summarization_Maven/abstractSummary.txt
